#!/usr/bin/env bash

# Easier navigation:
alias ..="cd .."
alias ls="ls -G"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Archey
alias archey="/usr/local/bin/archey"

# Homebrew, mas, etc.
alias brewup='brew update; brew upgrade; brew cleanup -s; rm -rf "$(brew --cache)";  brew doctor'
alias brewup+='brew update; brew upgrade; brew upgrade --cask --greedy; brew cleanup -s --prune=all; rm -rf "$(brew --cache)"; brew doctor'
alias update='brewup; mas upgrade; softwareupdate -i -a'
alias microcheck='open /Library/Application\ Support/Microsoft/MAU2.0/Microsoft\ AutoUpdate.app'
alias update+='update; microcheck'
alias update++='brewup+; mas upgrade; softwareupdate -i -a; microcheck'
alias blocklist="sudo rm ~/Library/Application\ Support/Transmission/blocklists/* && ~/Desktop/Documents/UpdateList.sh"
alias blocklists=blocklist

#Disable Gatekeeper
alias nogatekeeper="sudo spctl --master-disable"
